
<header>
    <div class = "head">
      <p class="p101">FlyAway.com</p>
    </div>
  </header>
  <div class = "TaskBar">
    
    <ul><li><a routerLink = "/home" id="home">Home</a></li></ul>
    <ul><li><a routerLink = "/contact" id="home">contact</a></li></ul>
    <ul><li><a routerLink = "/about" id="home">about us</a></li></ul>
  </div>
  <div class="HomeBoder">
  <br>
<p>about is working</p>
  </div>

 <div class = "FormBoader">
      
  
    </div>
    <div class="footer"><p ><strong>created by vhuhwavho</strong></p></div>
<router-outlet></router-outlet>