.head{
    width: 100%;  
    background-color: white;
    height: 3em;
    margin-top: 0em;
}
.HomeBoder{
    width: 100%;  
    
    height: 55em;
    
}
.p101{
    font-size: 2em;
    text-align: center
}
.FormBoader{

    margin: auto;
    border: 1px solid black;
    padding: 3em;
    margin-top: 8em;
    width: 30%;
    
}
input.text{
    width: 100%;
}
input.btn{
    width: 100%;
    height: 3em; 
    background-color: aqua;  
}
li,ul {
    float:left; 
    list-style-type: none;
    position: relative;
    left: -10;
    color: white;
  
    }

    #home{
            color :white;  
        }
.TaskBar{
    margin-top: 0em;
    height: 3em;
    color: white;
    font-size: 1em;
    background-color: rgb(55, 0, 255)
}
.selectionBoader{
    margin: auto;
    width: 40%;  
    height: 10em; 
    background-color:blue;
    margin-top: 10em;
    border: 1px solid black;
}
input.dates{
    margin-top: 0;
}
.p102{
    color: white;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(3, 7, 223);
    color: white;
    text-align: center;
}