.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(3, 7, 223);
    color: white;
    text-align: center;
}

#button{
    
   height: 5em;
   width: 10em;
    margin-top: 10%;
    margin-left: 50%;
    margin-right: 0%
    
    
}
.explore{
    top: 0;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    height: 900px;
    width: 100%;
    
}
.explore{
    margin-top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../assets/WhatsOnYourF.jpg); 
   
}
#p10{
    font-size: 3em;
    text-align: center;
    color: blue;
    
}