
<header>
        <div class = "head">
          <p class="p101">FlyAway.com</p>
        </div>
      </header>
      <div class = "TaskBar">
        
          <ul><li><a routerLink = "/home" id="home">Home</a></li></ul>
        <ul><li><a routerLink = "/contact" id="home">contact</a></li></ul>
        <ul><li><a routerLink = "/about" id="home">about</a></li></ul>
      </div>
      <div class="HomeBoder">
          <div class="center">
              <br>
              <br>
              <br>
              <p>First name: {{firstname}}</p>
              <p>Last name : {{lastname}}</p>
              <p>Departure : {{departure}}</p>
              <p>Date      : {{ddate}}</p>
              <p>Arrival   : {{arrival}}</p>
              
          </div>
      </div>
     <div class = "FormBoader">
         
      
        </div>
        <div class="footer"><p ><strong>created by vhuhwavho</strong></p></div>
    <router-outlet></router-outlet>





     